extends layout

block content
	nav.navbar.navbar-default
		.container
			.navbar-header
				a.navbar-brand(href="#")
					img(src='./images/dc_roasters_105x65_lt.png')
			ul.nav.navbar-nav.navbar-right
				lia.log-in-btn(href='#') log in
				button.btn.btn-primary(type='submit') Subscribe
	.container
		//- div with class of container
		h1 Login Page
		p.lead Please enter your username and password below.
		br
		form.col-sm-4#login-form(role='form', action='/login', method='post')
			.form-group
				input.form-control(type='text', name='username', placeholder='Enter Your Username')
			.form-group
				input.form-control(type='password', name='password', placeholder='Enter Your Password')
			button.btn.btn-primary(type='submit') Submit
			a(href='/')
				button.btn.btn-primary(type='button') Cancel
