extends layout

block content
	.container
		#thankyou-wrapper
			h1 Thank You!
			p Check your email shortly for a confirmation of your order.  Please keep it for your records.
			p We hope you enjoy your purchase!
			#dc-roasters
				h4 -DC Roasters Team